<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1142,1485},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1630,647},{20,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1182,1485},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1423,1154},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1376,1185},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1416,1186},{30,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1653,377},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1653,417},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1653,457},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,38}</string>
                <key>spriteSourceSize</key>
                <string>{30,38}</string>
                <key>textureRect</key>
                <string>{{1653,497},{30,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MiniGame_Ticket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,85}</string>
                <key>spriteSourceSize</key>
                <string>{209,85}</string>
                <key>textureRect</key>
                <string>{{1402,675},{209,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MsgBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,223}</string>
                <key>spriteSourceSize</key>
                <string>{831,223}</string>
                <key>textureRect</key>
                <string>{{1,1292},{831,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MsgBackground_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{831,248}</string>
                <key>spriteSourceSize</key>
                <string>{831,248}</string>
                <key>textureRect</key>
                <string>{{1,1042},{831,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MsgBackground_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{821,571}</string>
                <key>spriteSourceSize</key>
                <string>{821,571}</string>
                <key>textureRect</key>
                <string>{{1,1},{821,571}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Reward_PlaneBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,57}</string>
                <key>spriteSourceSize</key>
                <string>{266,57}</string>
                <key>textureRect</key>
                <string>{{1310,1203},{266,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Reward_PlaneDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,69}</string>
                <key>spriteSourceSize</key>
                <string>{540,69}</string>
                <key>textureRect</key>
                <string>{{834,1132},{540,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Reward_PlaneMid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,200}</string>
                <key>spriteSourceSize</key>
                <string>{540,200}</string>
                <key>textureRect</key>
                <string>{{761,793},{540,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Reward_PlaneTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,135}</string>
                <key>spriteSourceSize</key>
                <string>{540,135}</string>
                <key>textureRect</key>
                <string>{{834,995},{540,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1203},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1250},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>day_reward_word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,78}</string>
                <key>spriteSourceSize</key>
                <string>{226,78}</string>
                <key>textureRect</key>
                <string>{{1402,595},{226,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1510,1218},{51,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1327,793},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1596,326},{49,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1327,864},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1563,1222},{51,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nb_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{761,995},{45,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nb_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1634,1222},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1583,1275},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1583,1346},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nb_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,69}</string>
                <key>spriteSourceSize</key>
                <string>{51,69}</string>
                <key>textureRect</key>
                <string>{{1634,1293},{49,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_play_ui02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{758,466}</string>
                <key>spriteSourceSize</key>
                <string>{758,466}</string>
                <key>textureRect</key>
                <string>{{1,574},{758,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>new_play_word0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,82}</string>
                <key>spriteSourceSize</key>
                <string>{286,82}</string>
                <key>textureRect</key>
                <string>{{1226,1203},{286,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1634,1364},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_info_coin0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{1222,1491},{24,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_info_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,28}</string>
                <key>spriteSourceSize</key>
                <string>{24,28}</string>
                <key>textureRect</key>
                <string>{{1252,1491},{24,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_info_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{1510,1289},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_info_plane0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,41}</string>
                <key>spriteSourceSize</key>
                <string>{1280,41}</string>
                <key>textureRect</key>
                <string>{{1,1517},{1280,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_info_plane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,22}</string>
                <key>spriteSourceSize</key>
                <string>{182,22}</string>
                <key>textureRect</key>
                <string>{{1303,793},{182,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_info_plane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,22}</string>
                <key>spriteSourceSize</key>
                <string>{222,22}</string>
                <key>textureRect</key>
                <string>{{834,1485},{222,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_info_txt0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,20}</string>
                <key>spriteSourceSize</key>
                <string>{82,20}</string>
                <key>textureRect</key>
                <string>{{1058,1485},{82,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_info_txt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,21}</string>
                <key>spriteSourceSize</key>
                <string>{44,21}</string>
                <key>textureRect</key>
                <string>{{1667,326},{44,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒數_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,109}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1470,1107},{105,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1470,762},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1470,877},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1470,992},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1577,762},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1577,877},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1577,992},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1577,1107},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1369,1218},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1369,1333},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1476,1320},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒數_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1369,1448},{105,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>倒數_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,113}</string>
                <key>spriteSourceSize</key>
                <string>{105,113}</string>
                <key>textureRect</key>
                <string>{{1484,1435},{105,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>取消_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1297},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>取消_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1344},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,374}</string>
                <key>spriteSourceSize</key>
                <string>{770,374}</string>
                <key>textureRect</key>
                <string>{{824,1},{770,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>數字輸入框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,91}</string>
                <key>spriteSourceSize</key>
                <string>{323,91}</string>
                <key>textureRect</key>
                <string>{{1596,1},{323,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>數字選擇框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{1613,727},{33,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>確定_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1391},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>確定_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{834,1438},{390,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>設定.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{100,32}</string>
                <key>spriteSourceSize</key>
                <string>{128,32}</string>
                <key>textureRect</key>
                <string>{{1476,1218},{100,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>遊戲速度_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1327,935},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>遊戲速度_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1630,595},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>重新輸入_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{1376,793},{390,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>重新輸入_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,45}</string>
                <key>spriteSourceSize</key>
                <string>{390,45}</string>
                <key>textureRect</key>
                <string>{{1423,762},{390,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>離開框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{827,216}</string>
                <key>spriteSourceSize</key>
                <string>{827,216}</string>
                <key>textureRect</key>
                <string>{{824,377},{827,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音效_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1591,1417},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音效_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1310,1471},{38,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>音樂.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{639,196}</string>
                <key>spriteSourceSize</key>
                <string>{683,236}</string>
                <key>textureRect</key>
                <string>{{761,595},{639,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音樂_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1591,1475},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>音樂_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,56}</string>
                <key>textureRect</key>
                <string>{{1613,675},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Common_2016B.png</string>
            <key>size</key>
            <string>{1689,1559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb1018f17a5952872c645aec4448a12e:1b644258c993aba37551e922650de5c6:5f30dcb2bde37676905e82a9445fe99d$</string>
            <key>textureFileName</key>
            <string>Common_2016B.png</string>
        </dict>
    </dict>
</plist>
